{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": false,
  "useTabs": false,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always"
}
