source $MYDOTFILES/system/aliases/git
source $MYDOTFILES/system/aliases/npm_yarn
source $MYDOTFILES/system/aliases/common
source $MYDOTFILES/system/aliases/curl
source $MYDOTFILES/system/aliases/tmux
source $MYDOTFILES/system/aliases/brew

set -H

radb() {
  if [[ -z "$1" ]]
  then
    FROM=3000 
  else
    FROM=$1
  fi

  if [[ -z "$2" ]]
  then
    TO=3000
  else
    TO=$2
  fi

  adb reverse "tcp:${FROM}" "tcp:${TO}"
}

alias vim='nvim'
