export ANDROID_HOME=$HOME/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools
export PATH=$PATH:$(brew --prefix ruby)/bin
export PATH=$PATH:$(gem environment gemdir)/bin

export USERNAME=vrouilhac

export HISTFILESIZE=1000000

# Set ls colors
export CLICOLOR=1
export LSCOLORS=Gxfxcxdxbxegedabagacad

# Oh my zsh
export MYOMZSH=~/.oh-my-zsh
# ZSH_THEME=fino-time
# ZSH_THEME=rkj-repos
ZSH_THEME=jovial

# FZF (+vim plugin)
export FZF_DEFAULT_COMMAND='rg --follow --hidden --files'
